
.infoBox {
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: start;
    flex-wrap: wrap;
    padding-left: 7vw;
}

.left-box {
    width: min(550px, 90vw);
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    background-color:lightseagreen;
}
.right-box {

    /* width: min(650px, 90%); */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePhoto {

    width: 400px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.greeting .nameInfo .fieldInfo {
    font-family: 'Roboto', sans-serif;
}

.greeting {
    font-size: 50px;
}

.nameInfo {
    font-size: 60px;
}

.fieldInfo {
    font-size: 30px;
    font-weight: 500;
}

.skillInfo::before {
    content:"Web Developer" ;
    border: 2px solid black;
    padding: 3px 5px;
    transition: all ease-in-out 1s;
    animation: skill 10s ease-in-out infinite;
}

@keyframes skill {
0%{
    content: "Web Developer";
}
34%{
    content: "App Developer";
}

67%{
    content: "Game Developer";
}
}

.collegeInfo {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.link-icon {
    width: 50px;
}

.visually-hidden {
    color: transparent;
}
.tf-3{

    font-size: 15px;
}

@media screen and (max-width:600px) {
    .profilePhoto{
        width: 310px;
    }
}