.infoBox {
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: fit-content;
    display: flex;
    align-items: center;
    text-align: start;
    flex-wrap: wrap;
    padding-left: 7vw;
}

.left-box {
    width: min(550px, 90vw);
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    background-color:lightseagreen;
}
.right-box {

    width: min(650px, 90%);
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profilePhoto {
    height: 540px;
    border-radius: 10px;
}

.greeting .nameInfo .fieldInfo {
    font-family: 'Roboto', sans-serif;
}

.greeting {
    font-size: 50px;
}

.nameInfo {
    font-size: 60px;
}

.fieldInfo {
    font-size: 30px;
    font-weight: 500;
}

.skillInfo::before {
    content:"Web Developer" ;
    border: 2px solid black;
    padding: 3px 5px;
    transition: all ease-in-out 1s;
    animation: skill 20s ease-in-out infinite;
}

@keyframes skill {
0%{
    content: "Web Developer";
}
34%{
    content: "App Developer";
}

67%{
    content: "Game Developer";
}
}

.collegeInfo {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.link-icon {
    width: 45px;
}

.visually-hidden {
    color: transparent;
}

@media screen and (max-width:1220px) {
    .right-box {
        justify-content: center;
    }
}