.AboutContainer{
    display: flex;
    flex-direction: column;
}

.link{
    text-decoration: none;
    color: black;
}

button{
    border: none;
}
.AboutHeading{
    width: 100%;
    text-align: left;
}

.certificatesContainer{
    padding: 4px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.certificateBox{
    margin-top: 5px;
    margin-bottom: 10px;
}

.accordion-body{
    text-align: left;
}