.contectPage{
    padding: 34px;
    height: 90vh;
    width: calc(100vw-34px);
}

.contectLogo{
    width: 45px ;
    margin-right: 10px;
}

.contectBox{
    display: flex;
    margin: 25px;
    align-items: center;    
}

.contectBoxContainer{
    margin-top: 40px;
}